#  Splitting and Joining Strings 

## Table of contents
* [Create an array of ten strings](#a)
* [ Write a program to join and split these strings](#b) 
* [Use tuple, dictionary, and set](#c)

In [165]:
def main():
    print("Splitting and Joining Strings")
    print('\n')
    try:
        
        import numpy as np
        
        arr_text = np.array(['My', 'name', 'is', 'Abdulaziz', 'and', 'I', 'want', 'to', 'be', 'a', 'Data', 'Scientist'])
        print(f'An array of strings: {arr_text}')
        print(f'Object type: {type(arr_text)}')
        print('\n')
        # Join the strings
        join_text = ' '.join(arr_text)
        print(f'Joined strings of the array: {join_text}')
        print(f'Object type: {type(join_text)}')
        print('\n')
        # split the strings
        split_text = join_text.split(' ')
        print(f'The splitted text: {split_text}')
        print(f'Object type: {type(split_text)}')

    except FileNotFoundError:
        # a message code if file not exist
        print('Python file not exist')

if __name__ == "__main__":
    main()

Splitting and Joining Strings


An array of strings: ['My' 'name' 'is' 'Abdulaziz' 'and' 'I' 'want' 'to' 'be' 'a' 'Data'
 'Scientist']
Object type: <class 'numpy.ndarray'>


Joined strings of the array: My name is Abdulaziz and I want to be a Data Scientist
Object type: <class 'str'>


The splitted text: ['My', 'name', 'is', 'Abdulaziz', 'and', 'I', 'want', 'to', 'be', 'a', 'Data', 'Scientist']
Object type: <class 'list'>

<a id='a'></a>

#### Create an array of ten strings

In [166]:
import numpy as np

arr_text = np.array(['My', 'name', 'is', 'Abdulaziz', 'and', 'I', 'want', 'to','be', 'a' ,'Data' ,'Scientist'])
print(f'An array of strings: {arr_text}')
print(f'Object type: {type(arr_text)}')

An array of strings: ['My' 'name' 'is' 'Abdulaziz' 'and' 'I' 'want' 'to' 'be' 'a' 'Data'
 'Scientist']
Object type: <class 'numpy.ndarray'>

<a id='b'></a>

#### Write a program to join and split these strings

In [167]:
join_text = ' '.join(arr_text)
print(f'Joined strings of the array: {join_text}')
print(f'Object type: {type(join_text)}')

Joined strings of the array: My name is Abdulaziz and I want to be a Data Scientist
Object type: <class 'str'>

In [168]:
split_text = join_text.split(' ')
print(f'The splitted text: {split_text}')
print(f'Object type: {type(split_text)}')

The splitted text: ['My', 'name', 'is', 'Abdulaziz', 'and', 'I', 'want', 'to', 'be', 'a', 'Data', 'Scientist']
Object type: <class 'list'>

<a id='c'></a>

####  Use tuple, dictionary, and set

In [169]:
tuple_text = ('This', 'is', 'the', 'tuple', 'example')
print(f'The set of strings: {tuple_text}')
print(f'Object type: {type(tuple_text)}')

The set of strings: ('This', 'is', 'the', 'tuple', 'example')
Object type: <class 'tuple'>

In [170]:
tuple_join = ' '.join(tuple_text)
print(f'Joined strings of the dictionary: {tuple_join}')
print(f'Object type: {type(tuple_join)}')

Joined strings of the dictionary: This is the tuple example
Object type: <class 'str'>

In [171]:
dict_text = {1:'This', 2:'is', 3:'the', 4:'dictionary', 5:'example'}
print(f'The dictionary of strings: {dict_text}')
print(f'Object type: {type(dict_text)}')

The dictionary of strings: {1: 'This', 2: 'is', 3: 'the', 4: 'dictionary', 5: 'example'}
Object type: <class 'dict'>

In [172]:
dict_join = ' '.join(i for i in dict_text.values())
print(f'Joined strings of the dictionary: {dict_join}')
print(f'Object type: {type(dict_join)}')

Joined strings of the dictionary: This is the dictionary example
Object type: <class 'str'>

In [173]:
set_text = {'This', 'is', 'the', 'set', 'example'}
print(f'The set of strings: {set_text}')
print(f'Object type: {type(set_text)}')

The set of strings: {'example', 'set', 'is', 'the', 'This'}
Object type: <class 'set'>

In [174]:
set_join = ' '.join(set_text)
print(f'Joined strings of the dictionary: {set_join}')
print(f'Object type: {type(set_join)}')

Joined strings of the dictionary: example set is the This
Object type: <class 'str'>